name: DEPLOY
on: push
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print variables in env and secret
        env:
          MY_VAR: ${{vars.VAR_ON_GH}}
          MY_SECRET: ${{secrets.SECRET_ON_GH}}
        run: |
          echo "Variable value: $MY_VAR"
          echo "Secret value: $MY_SECRET"
          echo "Direct variable: ${{ vars.VAR_ON_GH }}"
          echo "Direct secret: ${{ secrets.SECRET_ON_GH }}"
  second_job:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
      - name: Install redis cli
        run: sudo apt-get update -y && sudo apt-get install redis-tools -y
      
      - name: Test redis
        run: redis-cli -h localhost -p 6379 ping 
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
