name: DEPLOY
on: push
jobs:
############################################################
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print variables in env and secret
        env:
          MY_VAR: ${{vars.VAR_ON_GH}}
          MY_SECRET: ${{secrets.SECRET_ON_GH}}
        run: |
          echo "Variable value: $MY_VAR"
          echo "Secret value: $MY_SECRET"
          echo "Direct variable: ${{ vars.VAR_ON_GH }}"
          echo "Direct secret: ${{ secrets.SECRET_ON_GH }}"
############################################################
  second_job:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
      - name: Install redis cli
        run: sudo apt-get update -y && sudo apt-get install redis-tools -y
      
      - name: Test redis
        run: redis-cli -h localhost -p 6379 ping
############################################################
  third_job_build_test:
    runs-on: ubuntu-latest
    steps:
      - name: clone repo to instance and checks out to main dir
        uses: actions/checkout@v4
      
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: install dependencies
        run: npm install

      - name: running app tests
        run: npm run test

      - name: Build app output
        run: npm run build
      
      - name: updalod artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public/
############################################################
  fourth_job_deploy:
    runs-on: ubuntu-latest
    needs:
      - first_job
      - third_job_build_test
    steps:
      - name: deploy
        run: echo "Deploying.."
############################################################
  fifth_job_notify:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - first_job
      - second_job
      - third_job_build_test
      - fourth_job_deploy
    steps:
      - name: notifier
        run: echo "notifications, always works even if prior jobs failed"